<div class="row"></div>
<% @stores.each do |store| %>
  <div class="col-sm-3">
    <h5 class="stores long_name"><%= store.name %></h5>
    <p class="city">
    <%= store.city %>
    </p>
    <p class="distance">
    <%= store.distance %>
    </p>
    <p class="phone_number">
    <%= store.phone_number %>
    </p>
    <p class="store_type">
    <%= store.store_type %>
    </p>
  </div>
<% end %>
